.App {
  text-align: center;
  
}

.block1 {
  background-color: #db545a;
}

.block2 {
  background-color: black;
}

.bar {
  background-color: white;
  
}

.pie {
  background-color: white;
  
}

.doughnut{
  background-color: white;
  
}
